/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');
/* reset css */

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    background: url(../asset/montage.jpg) no-repeat fixed center center / cover;
 
  
}
body{
    font: 1.6rem 'Open Sans',sans-serif;
    margin: 0;
    line-height: 1.6;
    color: #fff; 
    /* background-color: var(--color-secondary); */
   
}
h1,h2,h3{
    font-weight: 400;
    margin: 0;
}
p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
*{
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: #222;
}
img{
    display: inline-block;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    object-fit: cover;
}
button{
    background-color: transparent;
    border: 0;
}
.material-icons{
    vertical-align: -.4rem;
    margin-right: .3rem;
}
/*
    theme
*/
*{
    /* For FF and non-webkit browsers */
    scrollbar-width: thin;
    scrollbar-color: #000 #FFF;
}
*::-webkit-scrollbar {
    width: .2rem;
}
*::-webkit-scrollbar-thumb {
    background-color: #222;
    outline: .1rem solid #333;
}
:root{
    --color-default:  #292F33;
    --color-primary: #55ACEE;
    --color-secondary: #66757F;
    --color-block: #CCD6DD;
    --color-last-bg: #fff;
}
/* theme */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-default);
    z-index: 4;
    
}
header h1, :is(nav){
    display: inline-block;
    width: calc(100% / 2);
    vertical-align: middle;
}
header h1{
    text-align: center;
    color: var(--color-primary);
}
nav ul{
    font-size: 0;
}
nav ul li{
    display: inline-block;
    width: calc(100% / 3);
    font-size: initial;
    text-transform: uppercase;
    line-height: 6rem;
}
nav ul li a{
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    transition: all .6s ease-in-out;
}
nav ul li:hover a{
    background-color: var(--color-last-bg);
    color: #222;
}
/* main */
main{
    margin-top: 6rem;
    padding: 6rem 0;
}
main section{
    font-size: 0;
    max-width: 120rem;
    margin:0 auto 1rem;
}
main section h2{
    background-color: rgba(255,255,255,0.9);
    text-align: center;
    text-transform: uppercase;
    color: #222;
    font-size: 2.2rem;
    line-height: 6rem;
    margin-bottom: 1rem;

}
main section article{
    font-size: initial;
    display: inline-block;
    width: calc(100% / 4 - .1rem);
    margin-right: .1rem;
    text-align: center;
    background-color: rgba(255,255,255,0.9);
    color:var(--color-default);
}
main section article h3{
    text-transform: uppercase;
    font-size: 2rem;
    
}


main .theme-gallery ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .1rem;
}
main .theme-gallery ul li{
    
}
main .theme-gallery figure{
    position: relative;
    
}
main .theme-gallery ul li figure figcaption{
    display: block;
    position: absolute;
    bottom: 50%;
    transform: translateY(50%);
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,0.9);
    z-index: 3;
    width: 100%;
    font-size: initial;
    color: #222;
    text-align: center;
   
}
main .theme-download-button{
    background-color: var(--color-default);
    padding: 1rem;
}
main .theme-download-button h3{
    line-height: 4.5rem;
    font-size: 2rem;
}
main .theme-download-button *{
    font-size: initial;
    text-align: center;
}
main .theme-download-button button{
    display: block;
    margin: 0 auto;
    width: 20rem;
    background-color: var(--color-last-bg);
    line-height: 4.5rem;
    border-radius: .4rem;
    text-transform: uppercase;
    cursor: pointer;
}
/* 100 screen */
main, footer{
    min-height: 100vh;
}
footer{
    text-align: center;
    padding: 6rem 0;
    background-color: var(--color-last-bg);
}
footer p{
    text-align: center;
    padding-top: 1rem;
}
footer section{
    position: relative;
}
footer section *{
    color: initial;
}
footer section h2{
    text-align: center;
    line-height: 4.5rem;
    padding-bottom: 1rem;
   
}
footer section h2::before{
    position: absolute;
    content: "";
    width: 10rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: 3.5rem;
    border-bottom: solid .1rem #222;
}
footer .mail, footer .phone{
    display: inline-block;
    width: 80rem;
    font-size: 2rem;
}